<h3><div class="textContainer">Dashboard</div></h3>
<p>Current balance: $</p>
<button class="dashButton" [routerLink]="['/transactions']">View all transactions</button>
<button class="dashButton" [routerLink]="['/categories']">View all categories</button>
<div>
    <label>Income?
        <input id = "income" type="checkbox" #income/>
    </label>
    <label>Date:
        <input type="date" #date/>
    </label>
    <label>Description:
      <input #transactionDescription />
    </label>
    <label>Amount:
        <input type="number" #amount/>
    </label>
    <label>Category:
        <select *ngIf="selectedCategory" class="input" [(ngModel)]="selectedCategory" #category>
            <option *ngFor="let category of categories" [ngValue]="category">{{category.categoryName}}</option>
        </select>
    </label>
    <button class="dashButton" (click)="add(transactionDescription.value,amount.value,income.checked,date.value); transactionDescription.value=''; amount.value=''; date.value='';">
        Add a new transaction
    </button>
    <div><button class="dashButton" (click)="signOut();">Logout</button></div>
</div>