<h3><div class="textContainer">Dashboard</div></h3>
<p>Current balance: $</p>
<button class="dashButton" [routerLink]="['/transactions',1]">View all transactions</button>
<div>
    <label>Income?
        <input id = "income" type="checkbox" #income/>
    </label>
    <label>Date:
        <input #date/>
    </label>
    <label>Description:
      <input #transactionDescription />
    </label>
    <label>Amount:
        <input type="number" #amount/>
    </label>
    <button class="dashButton" (click)="add(transactionDescription.value,amount.value,income.checked,date.value); transactionDescription.value=''; amount.value=''; date.value='';">
        Add a new transaction
    </button>
    <div><button class="dashButton" routerLink='/login'>Logout</button></div>
</div>