.dashButton {
    padding: 7px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    border-radius: 7px; /* 5px rounded corners */
    background-color: #0b3d91;
    border: none;
    outline: rgba(0,0,0,0.8);
    margin: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: 0 3px rgba(0,0,0,0.4);
    cursor: pointer;
}
.dashButton:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.95);
}
.dashButton:active {
    background-color: #1b4da1;
}
h3 {
    font-size: 25px;
}
label {
    padding-left: 5px;
    padding-right: 5px;
}
input {
    background-color: #555;
    border-radius: 5px;
    border: none;
}
select {
    background-color: #555;
    border-radius: 5px;
    border: none;
}
.textContainer {
    background-color: #0b3d91;
    color: white;
    box-shadow: 6px 10px rgba(0,0,0,0.2);
    width: fit-content;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 7px;
    text-shadow: 0 5px rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}

* {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}