<h3><div class="textContainer">Transactions</div></h3>
<ul class="transactions">
    <li class="transactionContainer" *ngFor="let transaction of transactions">
        <span class="dateLabel">{{transaction.date.slice(0,10)}}</span>
        <span class="transactionTextContainer">${{(transaction.amount/100).toFixed(2)}}: {{transaction.description}}</span>
        <span class="dateLabel">{{transaction.category.categoryName}}</span>
        <button class="deleteButton" (click)="edit(transaction.transactionId);">edit</button>
        <button class="deleteButton" (click)="delete(transaction.transactionId);">X</button>
    </li>
</ul>
<button class="navButton" [routerLink]="['/dashboard']">Dashboard</button>