.navButton {
    padding: 7px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
    border-radius: 7px; /* 5px rounded corners */
    background-color: #0b3d91;
    border: none;
    outline: rgba(0,0,0,0.8);
    margin: 2px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    
}
.textContainer {
    background-color: #0b3d91;
    color: white;
    box-shadow: 6px 10px rgba(0,0,0,0.2);
    width: fit-content;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 7px;
    text-shadow: 0 5px rgba(0,0,0,0.5);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}
.navButton:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.95);
}
.navButton:active {
    background-color: #1b4da1;
}
h3 {
    font-size: 30px;
}
.transactionContainer {
    padding: 10px;
    padding-left:0px;
    background-color: #333;
    box-shadow: 5px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
}
.transactionTextContainer {
    padding: 10px;   
}
.dateLabel {
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
}
.deleteButton {
    background-color: #555;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    /* box-shadow: 3px 3px rgba(0,0,0,0.2); */
}
.deleteButton:hover {
    background-color: #777;
}
.deleteButton:active {
    background-color: #aaa;
}
* {
    color: #ffffff
}